<!DOCTYPE html>
<html>
<head>
	<title>bfc实现两栏布局</title>
	<meta charset="utf-8">
</head>
<style>
    body {
        width: 300px;
        /*position: relative;*/
    }

    .aside {
        width: 100px;
        height: 150px;
        float: left;
        background: #f66;
    }

    .main {
        height: 200px;
        background: #fcc;
        overflow: hidden;
    }
</style>
<body>
    <div class="aside"></div>
    <div class="main">aaaa<br/>aaaa<br/>aaaa<br/>aaaa<br/>aaaa<br/>aaaa<br/>aaaa<br/>aaaa<br/>aaaa</div>
</body>
</html>